import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');





*, *::after, *::before{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
li{
    list-style: none;
    font-size: 1rem;
    color: #fff;
}

nav{
    background-color: #353637;
color: #fff;
padding : 3.2rem 0;
min-height: 10rem;
border: 3px solid #f4f6f7;
}

nav a {
    text-transform: uppercase;
}

nav li {
    float: left;
    display: inline;
    padding: 0 1rem;
    font-weight: 600;
    
}
nav .branding {
    float: left;
}
nav .branding a {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 1rem;
    

}
nav .branding a i {
    margin-right: 0.5rem;
    color: #edeee2;
}
nav ul {
    float: right;
    
    margin-top: 0.8rem;
    }
    nav ul li{
        font-size: 1rem;
        
    }
    

    nav ul li a.active {
        color: rgb(12, 221, 23);
        font-weight: 700;
    }
    nav ul li a:hover {
        color: #3dc214;
        font-weight: 700;
    }

    .cards h2{
        margin: 0rem auto;
        height: 80px;
    }

    .cards {
        width: 60rem;
        
        min-height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);


        margin: 1rem 1rem 1rem 1rem;
        padding: 2rem;
       color:#fff;
    }

    .cards a{
        margin-top: 3rem;
        
        font-weight: 700;
        font-size: 2rem;
        padding: 3rem 1rem;
        color:#fff;
        margin-left: 1rem;
        transition: all 0.2s ease;
    }
.cards a:hover{
    color: rgb(1, 1, 3);
    transform: translateY(5px);
}
@media(max-width:600px){
    .cards{
        width: auto;
    }
}